
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: auto;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 9pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.exact-active-link {
    /* background-color: var(--color-background-mute); */
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 3pt;
}
@media screen and (min-width: 400px) {
    body {
        font-size: 11pt;
    }
}

@media screen and (orientation: landscape) {
    body {
        min-width: 400px;
    }
}